.fa{
  line-height: 2em;
  display: inline-block;
}

.viz-box .box-footer {
  padding: 0px;
}

.world-stats-info .list-group-item{
  padding: 2px 4px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}


path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:#ff851b; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

#user-container {
    position: relative;
}

#user-container table.legend {
    position: absolute;
    left: 70%;
    top: 0;
}

.small-box.bg-gray a,
.small-box.bg-gray:hover {
  color: #222222;
}
